*{
    margin: 0;padding: 0; box-sizing: border-box;
}

.toggler-wrap {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    gap: 10px;
}

.checkbox {
    display: none;
}

.label {
    background-color: #FFE86E;
    width: 50px;
    height: 24px;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.3);

}

.ball {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border-radius: 10px;
    background-color:#8F88FF;
    transform: translateX(0px);
    transition: transform .2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.theme-text {
    font-size: 16px;
    font-weight: 500;
    color: wheat;
    transition: color 0.3s ease-in-out;
}