.icons {
    width: 3rem;
    height: 3rem;
    gap: 10px;
    margin: 10px;
}
.names {
    display: grid;
    grid-template-columns: 1fr 500px 1fr;
    font-size: 0.9rem;
    margin: 10px;
    gap: 10px;
}