@import "tailwindcss";

/* Koyu Mod (Dark Mode) */
body.dark-mode {
  background-color: #121212;
  color: white;
}

/* Tema Değiştirme Butonu */
.tema-btn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background: #333;
  color: white;
  
}

.dark-mode .tema-btn {
  background: white;
  color: black;
}
